<h1>Tic-Tac-Toe</h1>

<p>Current player: {{ currentPlayer }}</p>

<table>
  <tr *ngFor="let row of gameBoard; let i = index">
    <td
      *ngFor="let cell of row; let j = index"
      [attr.id]="'cell-' + i + '-' + j"
      [ngClass]="{
        disabled: gameOver,
        empty: cell === ''
      }"
      [style.cursor]="cell === '' ? 'pointer' : 'default'"
      (click)="makeMove(i, j)"
    >
      {{ cell }}
    </td>
  </tr>
</table>

<div *ngIf="gameOver">
  <p>Game Over: {{ winner ? winner + " wins!" : "Tie!" }}</p>
  <button (click)="resetGame()">Play again</button>
</div>
